<div tabindex="0" class="sel-dropdown-container dropdown-container" ng-class="{editable: isEditable(), disabled: ngDisabled}" ng-click="showOptions()">
	<span class="edit" ng-click="edit()" onclick="event.stopPropagation()">
		<i class="icon-pencil"></i>
	</span>
	<span class="sel-dropdown-arrow expand">
		<i class="icon-chevron-down"></i>
	</span>
	<span class="sel-dropdown-selected choice" ng-if="attr.multiple==undefined">
		{{ getLabel(ngModel) }}
        <span class="reset" ng-click="clear()" onclick="event.stopPropagation()" ng-show="allowClear && ngModel!=undefined && ngModel!=null">
            <i class="icon-cancel sel-dropdown-clear"></i>
        </span>
		<span class="sel-dropdown-selected sel-placeholder placeholder" ng-if="ngModel==undefined || ngModel==null">{{ attr.placeholder }} &nbsp;</span>
	</span>
	<span class="choice multiple" ng-if="attr.multiple!=undefined">
		<ul>
			<li class="sel-dropdown-selected" ng-repeat="item in ngModel" onclick="event.stopPropagation()">
                {{ getLabel(item) }}
				<i class="sel-remove-item icon-cancel" ng-click="remove($index)"></i>
			</li>
		</ul>
		<span class="sel-dropdown-selected sel-placeholder placeholder" ng-if="ngModel==undefined || ngModel==null || !ngModel.length">{{ attr.placeholder }} &nbsp;</span>
	</span>
</div>
<div class="drop-mask"></div>
<div class="options animated fadeIn">
	<div class="filter" ng-show="search">
		<!-- <input type="text" class="sel-dropdown-search" ng-model="filter" ng-keyup="doSearch(filter)" placeholder="Search"> -->
        <div class="search input-inline">
            <input type="text" 
            		class="sel-dropdown-search" 
            		ng-model="filter" 
            		ng-keyup="doSearch(filter)" 
            		placeholder="Search" />
            <button type="button" class="btn transparent" style="width: auto">
                <i class="icon-search"></i>
            </button>
        </div>

	</div>
	<div class="scrollable">
		<ul ng-show="options.data.length">
            <li class="sel-dropdown-item" ng-repeat="item in options.data | filter:filterHideSelected" ng-click="select(item);hideOptions();" ng-class="{selected: optionSelected(item)}">{{item.name}}</li>
		</ul>
        <div class="empty" ng-hide="options.busy || (options.data | filter:filterHideSelected).length">
            -- no valid entries --
        </div>
        <div ng-show="options.busy" class="empty text-center">
            <div avi-loader></div>
        </div>
	</div>
	<button href="" class="sel-dropdown-create btn btn-primary" ng-show="options.isCreatable()" ng-click="create()">{{ attr.labelCreate || 'Create' }}</button>
</div>

