<div class="grid" ng-class="{disabled:ngDisabled}">
    <div class="actions-panel">
        <div style="padding: 11px 0">
            <div class="action-buttons pull-left btn-group" ng-show="config.collection.data.length > 0">
                <button class="btn {{action.className}}" ng-class = "{'last': $last && ! $first, 'first': $first && !$last}"
                        ng-disabled="ngDisabled || multipleActionDisabled(action)" ng-click="doMultipleAction(action, $event)"
                        ng-repeat="action in config.multipleactions">{{ action.title }}</button>
            </div>
            <div class="pull-right">
                <div class="search input-inline">
                    <input type="text"
                           class="input-medium sel-search"
                           placeholder="Search"
                           ng-change="toggleItem()"
                           ng-keyup="search()"
                           ng-disabled="ngDisabled"
                           ng-model="config.search" />
                    <button type="button" class="btn">
                        <i class="icon-search"></i>
                    </button>
                </div>
            </div>
            <div class="displaying pt5 mb5 clearfix">
                Displaying {{showSelected ? (config.collection.data | filter:selectionFilter).length : config.collection.total}} item(s)
            </div>
        </div>
    </div>
    <div class="actions-panel floating">
        <div style="padding: 11px 0">
            <div class="action-buttons pull-left btn-group" ng-show="config.collection.data.length > 0">
                <button class="btn {{action.className}}" ng-class = "{'last': $last && ! $first, 'first': $first && !$last}"
                        ng-disabled="ngDisabled || multipleActionDisabled(action)" ng-click="doMultipleAction(action, $event)"
                        ng-repeat="action in config.multipleactions">{{ action.title }}</button>
            </div>
            <div class="pull-right">
                <div class="search input-inline">
                    <input type="text"
                           class="input-medium sel-search"
                           placeholder="Search"
                           ng-change="toggleItem()"
                           ng-keyup="search()"
                           ng-disabled="ngDisabled"
                           ng-model="config.search" />
                    <button type="button" class="btn">
                        <i class="icon-search"></i>
                    </button>
                </div>
            </div>
            <div class="displaying pt5 mb5 clearfix">
                Displaying {{showSelected ? (config.collection.data | filter:selectionFilter).length : config.collection.total}} item(s)
            </div>
        </div>
    </div>
    <table>
        <thead style="text-align: left">
            <tr>
                <th class="selectable" ng-show="config.multipleactions">
                    <div class="inner">
                        <checkbox class="sel-grid-select-all" ng-model="config.allSelected" style="top: 3px"
                                  ng-disabled="ngDisabled" ng-click="toggleAll($event);"></checkbox>
                        <i class="icon icon-chevron-down clickable" ng-click="showOptions($event)"></i>
                        <div class="drop-mask" ng-click="hideOptions()"></div>
                        <div class="selection-panel">
                            <ul>
                                <li><a href="" ng-click="selectAll();hideOptions()">Select All</a>></li>
                                <li><a href="" ng-click="clearAll();hideOptions()">Clear All</a></li>
                                <li ng-class="{'selected': showSelected}"><a href="" ng-click="showSelected=true;hideOptions()">Show Selected</a></li>
                                <li ng-class="{'selected': !showSelected}"><a href="" ng-click="showSelected=false;hideOptions()">Show All</a></li>
                            </ul>
                        </div>
                    </div>
                </th>
                <th ng-repeat="field in config.displayFields" class="grid-field-{{field.name}} grid-field-{{$index}}"
                    ng-class="{'sorted-asc': config.collection.sortBy && config.collection.sortBy==field.sortBy,
                    'sorted-desc': config.collection.sortBy && config.collection.sortBy=='-'+field.sortBy}">
                    <div class="inner" ng-class="{last:$last}">
                        <div ng-click="!field.sortBy || sort(field)" class="field-name sel-sort-by" ng-class="{clickable: field.sortBy}">
                            {{field.title}}
                            <i class="icon icon-sort" ng-show="field.sortBy"
                               ng-class="{'icon-sort-asc': config.collection.sortBy && config.collection.sortBy==field.sortBy,
                               'icon-sort-desc': config.collection.sortBy && config.collection.sortBy=='-'+field.sortBy}"></i>
                            <div class="resize" ng-if="!$last"></div>
                        </div>
                    </div>
                </th>
                <th class="rowactions" ng-if="config.singleactions">
                    <div class="inner clickable" ng-click="editColumns()">
                        <i class="icon-cog pull-right"></i>
                    </div>
                </th>
            </tr>
            <tr class="floating">
                <th class="selectable" ng-show="config.multipleactions">
                    <div class="inner">
                        <checkbox class="sel-grid-select-all" ng-model="config.allSelected"
                               ng-click="toggleAll($event);"></checkbox>
                        <i class="icon icon-chevron-down clickable" ng-click="showOptions($event)"></i>
                        <div class="drop-mask" ng-click="hideOptions()"></div>
                        <div class="selection-panel">
                            <ul>
                                <li><a href="" ng-click="selectAll();hideOptions()">Select All</a>></li>
                                <li><a href="" ng-click="clearAll();hideOptions()">Clear All</a></li>
                                <li><i class="icon icon-check" ng-show="showSelected"></i> <a href="" ng-click="showSelected=true;hideOptions()">Show Selected</a></li>
                                <li><i class="icon icon-check" ng-hide="showSelected"></i> <a href="" ng-click="showSelected=false;hideOptions()">Show All</a></li>
                            </ul>
                        </div>
                    </div>
                </th>
                <th ng-repeat="field in config.displayFields" class="grid-field-{{field.name}} grid-field-{{$index}}"
                    ng-class="{'sorted-asc': config.collection.sortBy && config.collection.sortBy==field.sortBy,
                    'sorted-desc': config.collection.sortBy && config.collection.sortBy=='-'+field.sortBy}">
                    <div class="inner" ng-class="{last:$last}">
                        <div ng-click="!field.sortBy || sort(field)" class="field-name" ng-class="{clickable: field.sortBy}">
                            {{field.title}}
                            <i class="icon icon-sort" ng-show="field.sortBy"
                               ng-class="{'icon-sort-asc': config.collection.sortBy && config.collection.sortBy==field.sortBy,
                               'icon-sort-desc': config.collection.sortBy && config.collection.sortBy=='-'+field.sortBy}"></i>
                            <div class="resize" ng-if="!$last"></div>
                        </div>
                    </div>
                </th>
                <th class="rowactions" ng-if="config.singleactions">
                    <div class="inner">
                        <a href="" onclick="$(this).closest('.grid').find('.modal').aviModal()"><i class="icon-pencil"></i></a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody ng-show="config.collection.data.length">
            <tr ng-repeat="row in config.collection.data | filter:selectionFilter"
                class="row sel-grid-row sel-row-{{$index}} {{ config.rowClass(row) }}"
                    ng-class="{clickable: config.onRowClick}" ng-click="config.onRowClick(row, $event)">
                <td class="selectable" ng-show="config.multipleactions">
                    <div ng-hide="config.checkboxHide(row)">
                        <checkbox class="sel-grid-checkbox"
                               ng-model="config.selected[rowId(row)]"
                               ng-change="toggleItem(rowId(row));"
                               ng-disabled="config.checkboxDisable(row)">
                        </checkbox>
                    </div>
                </td>
                <td ng-repeat="field in config.displayFields" class="grid-cell-{{getClassFromName(field.name)}} grid-cell-{{$index}}">
                    <cell row="row" field="field" class="sel-cell{{field.name ? '-' + field.name.replace('.', '-') : ''}}"></cell>
                </td>
                <td class="rowactions" ng-if="config.singleactions">
                    <a href="" ng-click="doSingleAction(row, action)" onclick="event.stopPropagation()"
                        ng-hide="action.hidden(row, action)"
                        ng-disabled="ngDisabled || singleActionDisabled(row, action)"
                        ng-repeat="action in config.singleactions"
                        class="sel-{{action.title}}-btn" title="{{action.title}}">
                        <i class="{{action.class}}"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="!config.collection.busy && !(config.collection.data | filter:selectionFilter).length && showSelected" class="empty">
        Nothing is selected, click <a href="" ng-click="showSelected=false">here</a>, to show all
    </div>
    <div ng-show="config.collection.busy" class="empty text-center">
        <div avi-loader></div>
    </div>
    <div ng-hide="config.collection.data.length || config.collection.busy" class="empty text-center">
        {{ attr.labelEmpty || 'No items in the list.' }}<br>
        <div ng-show="config.collection.isCreatable()">
            <div ng-if="config.createActions.length">
                <button class="sel-create-btn btn btn-primary mt5"
                        dropdown-toggle=".create-actions-panel">
                    <i class="icon-plus"></i>
                    {{ attr.labelCreate || 'Create' }}
                </button>
                <div class="create-actions-panel dropdown-panel"
                     style="width: 186px; margin-top:3px">
                    <ul>
                        <li ng-repeat="action in config.createActions">
                            <a href="" class="sel-{{action.label.toLowerCase().replace(' ', '-')}}" ng-click="action.action()">{{action.label}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-if="!config.createActions.length">
                <button class="sel-create-btn btn btn-primary mt5" ng-click="config.collection.create()">
                    <i class="icon-plus"></i>
                    {{ attr.labelCreate || 'Create' }}
                </button>
            </div>
        </div>
    </div>
    <div class="modal hide avi-wide-form" tabindex="-1">
        <div class="modal-header">
            <button type="button" class="close icon-cancel" onclick="$(this).parent().parent().aviModal('hide')" aria-hidden="true"></button>
            <div class="divider pull-right"></div>
            <h1>Table Customization</h1>
        </div>
        <div class="modal-body form form-horizontal">
            <div class="panel">
                <h2>Column Configuration</h2>
                <div class="panel-body">
                    <div class="col pull-left" style="width:45%">
                        <div class="databacenter-list">
                            <div class="header">Available Columns</div>
                            <ul>
                                <li ng-repeat="field in columnConf.hiddenFields"
                                    ng-click="columnConf.currentHidden = $index; columnConf.panel = 'hidden'"
                                    ng-class="{selected: columnConf.currentHidden==$index && columnConf.panel=='hidden'}">
                                    {{field.title}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col pull-left" style="width:10%">
                        <div class="ml5 mr5">
                            <button class="btn btn-default" style="width:100%" ng-click="removeColumn()"
                                    ng-disabled="columnConf.panel!='displayed' || !columnConf.displayFields.length">
                                <i class="icon-arrow-left"></i>
                            </button>
                            <br>
                            <button class="btn btn-default mt5" style="width:100%" ng-click="addColumn()"
                                    ng-disabled="columnConf.panel!='hidden' || !columnConf.hiddenFields.length">
                                <i class="icon-arrow-right"></i>
                            </button>
                            <br>
                            <button class="btn btn-default mt5" style="width:100%" ng-click="moveColumnUp()"
                                    ng-disabled="!(columnConf.panel=='hidden' && columnConf.hiddenFields[columnConf.currentHidden-1] || columnConf.panel=='displayed' && columnConf.displayFields[columnConf.currentDisplayed-1])">
                                <i class="icon-arrow-up"></i>
                            </button>
                            <br>
                            <button class="btn btn-default mt5" style="width:100%" ng-click="moveColumnDown()"
                                    ng-disabled="!(columnConf.panel=='hidden' && columnConf.hiddenFields[columnConf.currentHidden+1] || columnConf.panel=='displayed' && columnConf.displayFields[columnConf.currentDisplayed+1])">
                                <i class="icon-arrow-down"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col pull-right" style="width:45%">
                        <div class="databacenter-list">
                            <div class="header">Displayed Columns</div>
                            <ul>
                                <li ng-repeat="field in columnConf.displayFields"
                                    ng-click="columnConf.currentDisplayed = $index; columnConf.panel = 'displayed'"
                                    ng-class="{selected: columnConf.currentDisplayed==$index && columnConf.panel=='displayed'}">
                                    {{field.title}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="$(this).parent().parent().aviModal('hide')"
                    class="btn btn-default pull-left sel-cancel">Cancel</button>
            <button type="button" class="btn btn-primary pull-right sel-cancel"
                    ng-click="saveColumns()">Save</button>
        </div>
    </div>
</div>

