<div tabindex="0" class="sel-dropdown-container dropdown-container" ng-class="{disabled: ngDisabled}" ng-click="showOptions()">
	<span class="sel-dropdown-arrow expand">
		<i class="icon-chevron-down"></i>
	</span>
	<span class="choice" ng-if="!attr.multiple">
		<span class="sel-dropdown-selected" ng-if="ngModel!=undefined && ngModel!=null">{{ getLabel(ngModel) }}</span>
        <span class="reset" ng-click="clear()" onclick="event.stopPropagation()" ng-show="allowClear && ngModel">
            <i class="icon-cancel sel-dropdown-clear"></i>
        </span>
		<span class="sel-dropdown-selected sel-placeholder placeholder" ng-if="ngModel==undefined || ngModel==null">{{ attr.placeholder }} &nbsp;</span>
	</span>
	<span class="choice multiple" ng-if="attr.multiple">
		<ul>
			<li class="sel-dropdown-selected" ng-repeat="item in ngModel" onclick="event.stopPropagation()">
				{{ getLabel(item) }}
				<i class="sel-remove-item icon-cancel" ng-click="remove($index)"></i>
			</li>
		</ul>
		<span class="sel-dropdown-selected sel-placeholder placeholder" ng-if="!ngModel || !ngModel.length">{{ attr.placeholder }} &nbsp;</span>
	</span>
    <div class="data-options" ng-transclude="true"></div>
</div>
<div class="drop-mask"></div>
<div class="options">
	<div class="filter" ng-show="search">
		<input type="text" ng-model="query" placeholder="Search" class="search input-inline sel-dropdown-search">
	</div>
	<div class="animated fadeIn scrollable">
		<ul ng-show="options.length">
			<li class="sel-dropdown-item sel-dropdown-selected" ng-repeat="item in options | filter:filterHideSelected | filter:query" ng-click="select(item);hideOptions();"
                ng-class="{selected: item==ngModel || item.value==ngModel}" tooltip="{{item.tooltip}}">{{item.label ? item.label : item.name()}}</li>
		</ul>
        <div class="empty" ng-hide="(options | filter:filterHideSelected | filter:query).length">
            -- no valid entries --
        </div>
	</div>
</div>
