<div class="grid" ng-class="{disabled:ngDisabled}">
    <div ng-show="rows.length > 0" class="actions-panel">
        <div class="action-buttons pull-left btn-group">
            <button class="btn {{action.className}}" ng-class = "{'last': $last && ! $first, 'first': $first && !$last}"
                    ng-disabled="multipleActionDisabled(action)" ng-click="doMultipleAction(action, $event)"
                    ng-repeat="action in config.multipleactions">{{ action.title }}</button>
        </div>

        <div class="pull-right">
            <div class="search input-inline">
                <input type="text"
                        class="input-medium sel-grid-search"
                       placeholder="Search"
                       ng-change="toggleItem();closePanels()"
                       ng-disabled="ngDisabled"
                       ng-model="config.search" />
                <button type="button" class="btn transparent">
                    <i class="icon-search"></i>
                </button>
            </div>
        </div>
    </div>
    <div ng-show="rows.length > 0" class="displaying pt5 mb5 clearfix">
        Displaying {{(rows | filter:selectionFilter).length}} item(s)
    </div>
    <table>
        <thead ng-show="config.fields" style = "text-align: left">
            <tr>
                <th class="selectable" ng-if="config.multipleactions">
                    <div class="inner">
                        <checkbox class="sel-grid-select-all" style="top:3px"
                               ng-model="config.allSelected"
                               ng-disabled="ngDisabled"
                               ng-click="toggleAll($event);">
                        </checkbox>
                        <i class="icon icon-chevron-down clickable" ng-click="showOptions($event)"></i>
                        <div class="drop-mask" ng-click="hideOptions()"></div>
                        <div class="selection-panel">
                            <ul>
                                <li><a href="" ng-click="selectAll();hideOptions()">Select All</a></li>
                                <li><a href="" ng-click="clearAll();hideOptions()">Clear All</a></li>
                                <li>
                                    <i class="icon icon-check" ng-show="showSelected"></i>
                                    <a href="" ng-click="showSelection();hideOptions()">Show Selected</a>
                                </li>
                                <li>
                                    <i class="icon icon-check" ng-hide="showSelected"></i>
                                    <a href="" ng-click="hideSelection();hideOptions()">Show All</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </th>
                <th ng-repeat="field in config.fields" class="grid-field{{field.name ? '-' + field.name.replace('.', '-') : ''}} grid-field-{{$index}}"
                    ng-class="{'sorted-asc': currentlySortedByObj==field && !order,
                        'sorted-desc': currentlySortedByObj==field && order}">
                    <div class="inner" ng-class="{last:$last}">
                        <div class="clickable" ng-if="field.sortBy" ng-click="sort(field)">{{ field.title}}
                            <i class="icon icon-sort" ng-class="{'icon-sort-asc': currentlySortedByObj==field && !order,
                                'icon-sort-desc': currentlySortedByObj==field && order}"></i>
                        </div>
                        <div class="" ng-if="!field.sortBy">{{field.title}}</div>
                        <div class="resize" ng-if="!$last"></div>
                    </div>
                </th>
                <th class="rowactions" ng-if="config.singleactions"><div class="inner">&nbsp;</div></th>
            </tr>
        </thead>
        <tbody ng-show="rows.length">
            <tr ng-repeat="row in rows | filter:selectionFilter | filter:config.search"
                class="row sel-grid-row sel-row-{{$index}} {{ config.rowClass(row) }}"
                    ng-class="{clickable: config.onRowClick}" ng-click="config.onRowClick(row, $event)">
                <td class="selectable" ng-if="config.multipleactions">
                <checkbox class="sel-grid-checkbox"
                       ng-model="config.selected[rowId(row)]"
                       ng-click="toggleItem(rowId(row));" ng-disabled="config.checkboxDisable(row)"></checkbox>
                </td>
                <td ng-repeat="field in config.fields" class="grid-cell{{field.name ? '-' + field.name.replace('.', '-') : ''}} grid-cell-{{$index}}">
                    <cell row="row" field="field" class="sel-cell{{field.name ? '-' + field.name.replace('.', '-') : ''}}"
                            config="config"></cell>
                </td>
                <td class="rowactions" ng-if="config.singleactions">
                    <a href="" ng-click="doSingleAction(row, action, $parent.$index)" onclick="event.stopPropagation()" ng-hide="action.hidden(row, action)"
                       ng-disabled="singleActionDisabled(row, action)"
                       ng-repeat="action in config.singleactions" title="{{action.title}}">
                        <i class="{{action.class}}"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="!(rows | filter:selectionFilter).length && showSelected" class="empty">
        Nothing is selected, click <a href="" ng-click="showSelected=false">here</a>, to show all
    </div>
    <div ng-hide="rows.length" class="empty text-center">
        {{ attr.labelEmpty || 'No items in the list.' }}
    </div>
</div>

